a {
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin-block: 150px;
}
nav{
    background-color: #2F80ED;
    height:900px;
    width:400px;
}
h1{
    width:102px;
    height:36px;
    top:65px;
    left:473px;
    font:poppins;
    Weight:700;
    size:24px;
    line-height: 36px;
}
.block{
    width: 400px;
    height: 900px;
    flex-shrink: 0;
    background: #2F80ED;
}
.block2{
   height: 38px;
   color: #FFFFFF;
   font-family: Poppins;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-left: 20px;
}
.block3{
    width: 24px;
    height: 24px;
}
.dashboard-logo{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 156px;
    height: 16px;
    margin-bottom: 50px;
}
.settings{
    color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 156px;
  height: 16px;
  flex-shrink: 0;
}
.logout{
    width: 156px;
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
   font-family: Poppins;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-block: 600px;
}

.box{
    display:inline-block;
     background: #333;
     vertical-align: middle;
     margin-right: 50px;
     width: 233px;
     height: 150px;
}
.box1{
    width: 115.949px;
    color: #FFF;
   font-family: Poppins;
   font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.box2{
    width: 108.315px;
    color: #FFF;
   font-family: Poppins;
   font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.box3{
    width: 117px;
    color: #FFF;
 font-family: Poppins;
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
}
.dashboard{
    color: #515151;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.view{
    color: #333;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.table{
   width: 788px;
   height: 65px;
   flex-shrink: 0;
   border: 1px solid #BDBDBD;
   background: #FFF;
}
.table2{
    width: 788px;
   height: 65px;
   border: 1px solid #BDBDBD;
   background: #FFF;
}
.country{
    color: #333;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}