a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
nav{
    background-color: #2F80ED;
    height:900px;
    width:400px;
}
h1{
    width:102px;
    height:36px;
    top:65px;
    left:473px;
    font:poppins;
    Weight:700;
    size:24px;
    line-height: 36px;
}